*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card_container .imgBox{
    width: 5vw;
    height: 80vh;
    background-repeat: no-repeat;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-in;
    background-size: cover;

}
.card_container .active{
    width: 50vw;

}
.card_container .imgBox h3{
    opacity: 0;
}
.card_container .active h3{
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 5%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    white-space: 2px;
    letter-spacing: 2px;
    transition: opacity 0.3s ease-in 0.4s;
}